<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="MainForm_X" value="100" />
        <add key="MainForm_Y" value="100" />
        <add key="MainForm_Height" value="700" />
        <add key="MainForm_Width" value="791" />
        <add key="LessonFileName" value="\Sample\Episode\Video.EN.srt.lesson" />
        <add key="IsHidedTranslation" value="False" />
        <add key="LastDictionary" value="Google dictionary" />
        <add key="ShowPreviousScore" value="False" />
    </appSettings>
</configuration>