<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="ListEnFileName" value="\Sample\Episode\Video.EN.srt" />
    <add key="ListEnSentenceNumber" value="0" />
    <add key="ListEnFontSize" value="10" />
    <add key="ListNativeFileName" value="\Sample\Episode\Subtitle.RU.srt" />
    <add key="ListNativeSentenceNumber" value="0" />
    <add key="LessonFileName" value="\Sample\Episode\Video.EN.srt.lesson" />
    <add key="ListNativeFontSize" value="10" />
    <add key="VideoFileName" value="\Sample\Episode\Video.avi" />
    <add key="ListenByClick" value="True" />
    <add key="AddWordToTutorOnDoubleClick" value="False" />
    <add key="ShowPopupWindow" value="True" />
    <add key="MainForm_X" value="5" />
    <add key="MainForm_Y" value="4" />
    <add key="MainForm_Height" value="712" />
    <add key="MainForm_Width" value="871" />
    <add key="TextTwin" value="364" />
    <add key="TextForeign_Heigh" value="62" />
    <add key="TextNative" value="250" />
    <add key="ListNative" value="252" />
    <add key="TextForeign_FontSize" value="1" />
    <add key="TextTranslate_FontSize" value="1" />
    <add key="TextNative_FontSize" value="1" />
    <add key="LastDictionary" value="GoogleDictionary" />
    <add key="VideoFormTopMost" value="True" />
    <add key="AudioLanguageIndex" value="0" />
    <add key="VideoFormShowInTaskbar" value="False" />
    <add key="VideoForm_X" value="560" />
    <add key="VideoForm_Y" value="73" />
    <add key="VideoForm_Height" value="380" />
    <add key="VideoForm_Width" value="588" />
    <add key="ShowParrallelSubtitles" value="False" />
    <add key="IsHidedTranslation" value="False" />
  </appSettings>
</configuration>