<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".syx" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".tab" mimeType="text/plain" />
      <mimeMap fileExtension=".svg" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>